# Build artifacts
bin/
obj/

# .NET build / Visual Studio build output
[Bb]in/
[Oo]bj/
*.user

# .NET Core
**/bin/
**/obj/

# Visual Studio Code
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
AnyCPU/
*.exe
*.pdb
*.dll
*.user

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Azure Build Output
csx/
*.build.csdef

# Build output from dotnet CLI
*.nupkg
**/obj/*
**/bin/*
